
:root {
  --primary: #009ee0;
  --primary-darker: #0082B8;
  --secondary: #173753;
  --secondary-darker: #15324c;
  --secondary-darkest: #132e44;
  --light-blue: #b9e4f6;
  --light-blue-lighter: #f8fcfe;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 0;
}


/* ==========================================================================
   Header
   ========================================================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 100;
  transition: all .2s;
}

.logo-wrapper {
  position: relative;
  height: 80px;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo-wrapper h3 {
  font-size: 1.25rem;
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
  color: #fff;
}

.logo-wrapper .fa-virus {
  font-size: 2.75rem;
  color: var(--light-blue);
  margin-right: .75rem;
}

.close-sidebar-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  transition: .2s all;
}

#affectedCountries-wrapper {
  background-color: var(--secondary-darker);
  color: #fff;
}

#affectedCountries-wrapper .title {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
}

#affectedCountries-wrapper .title h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.25rem;
}

#affectedCountries-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  height: calc(100vh - 147px);
  overflow-y: scroll;
}

.affectedCountry {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-darker);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.affectedCountry img {
  width: 44px;
  height: auto;
  margin-right: 1rem;
}

.affectedCountry h4 {
  margin-bottom: .25rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}

.affectedCountry span {
  font-size: .75rem;
  padding: 3px 6px;
  margin-right: 8px;
  text-transform: capitalize;
  color: #fff
}

.label-danger {
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: 4px;
}

.label-warning {
  background-color: rgba(253, 126, 20, 0.8);
}

.label-danger,
.label-warning {
  border-radius: 4px;
}

.affectedCountry span:first-of-type:before {
  content: "Zaraženih: ";
}

.affectedCountry span:last-of-type:before {
  content: "Umrlih: ";
}


/* Scrollbar style */
#affectedCountries-list::-webkit-scrollbar {
  width: 4px;
}

#affectedCountries-list::-webkit-scrollbar-track {
  background-color: var(--secondary-darker);
}

#affectedCountries-list::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px;
  height: 80px;
  transition: color .4s;
}

#affectedCountries-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-darker); 
}



/* ==========================================================================
   Main
   ========================================================================== */
main {
  margin-left: 320px;
  background-color: var(--secondary);
  color: #fff;
  transition: .2s all;
}

#topbar {
  background-color:var(--secondary);
}

#topbar div {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.co-card {
  padding: 1.25rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  border-radius: 4px;
  color: #fff;
  background-color: var(--secondary-darker);
  height: 100%;
}

.co-card span {
  display: block;
}


footer {
  border-top: 1px solid rgba(255, 255, 255, .1);
  background-color: var(--secondary-darker);
}

#chartdiv {
  max-width: 100%;
  height: 500px;
}

#chartdiv1 {
  max-width: 100%;
  height: 400px;
}

#chartdiv2 {
  max-width: 100%;
  height: 400px;
}

#chartdiv3 {
  max-width: 100%;
  height: 500px;
}


/* Global styles */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 1rem;
}

p, span {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.mb-30 {
  margin-bottom: 30px;
}

.bg-orange {
  background-color: var(--orange);
}

.fade {
  color: rgba(255, 255, 255, .7);
}

.text-white {
  color: #fff;
  opacity: .7;
}

.bg-secondary-darker {
  background-color: var(--secondary-darker);
}

.bg-secondary-darkest {
  background-color: var(--secondary-darkest);
}

.bt-success {
  border-top: 3px solid var(--success);
}

.bt-danger {
  border-top: 3px solid var(--danger);
}

.bt-warning {
  border-top: 3px solid var(--warning);
}

.bt-orange {
  border-top: 3px solid var(--orange);
}


@media only screen and (max-width: 768px) {
  header {
    left: -320px;
  }

  .close-sidebar-icon {
    right: -40px;
  }

  main {
    margin-left: 0;
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  #chartdiv,
  #chartdiv1,
  #chartdiv2,
  #chartdiv3 {
    height: 360px;
  }

  .icon {
    display: none;
  }

}


@media only screen and (max-width: 1024px) {
  header {
    left: -320px;
  }

  .close-sidebar-icon {
    right: -40px;
  }

  main {
    margin-left: 0;
  }

}